@{
    ViewData["Title"] = "Содержание заявки";
}

@using System.Security.Principal
@{
    WindowsIdentity currentIdentity = WindowsIdentity.GetCurrent();
    string userName = currentIdentity?.Name ?? "Неизвестно";
}

@{
    bool isInitiator = ViewBag.UserRoles.HasFlag(UserRole.Initiator);
}

@model Request


<!-- DatePicker -->
<script type="text/javascript" src='~/lib/jquery/dist/jquery.min.js'></script>
<script type="text/javascript" src='~/lib/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
<link rel="stylesheet" href='~/lib/twitter-bootstrap/3.0.3/css/bootstrap.min.css' media="screen" />
<link rel="stylesheet" href="~/lib/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
@section scripts{
    <script src="~/lib/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ru.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#Course_Start, #Course_End').datepicker({
                changeMonth: true,
                changeYear: true,
                todayHighlight: true,
                format: "dd.mm.yyyy",
                language: "ru"
            });
        });
    </script>
}
<!--------------->


<form id="saveForm" method="post" asp-action="SaveChanges">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col">
                <div>
                    <b>Содержание заявки</b>
                </div>
                <div>
                    <span class="user">Пользователь: @userName</span>
                    <div id="userName" data-username="@userName"></div>
                </div>
            </div>
            <div class="col-auto text-center">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Назад</a>
            </div>
        </div>

        <hr />

        <div class="row mt-2">
            <div class="col-md-4">
                <label for="id">Номер заявки: @Model.Id</label>
                <input type="hidden" name="requestId" value="@Model.Id" />
            </div>
        </div>

        <div class="row mb-4 mt-2">
            <div class="col-md-4">
                <label for="FullName">ФИО обучаемого</label>
                <input type="text" class="form-control" id="Full_Name" name="Full_Name" placeholder="Введите значение" value="@Model.Full_Name" required @(!isInitiator ? "disabled" : "") />
            </div>
            <div class="col-md-4">
                <label for="CourseName">Наименование курса</label>
                <textarea class="form-control" id="Course_Name" name="Course_Name" rows="1" placeholder="Введите текст" required @(!isInitiator ? "disabled" : "")>@Model.Course_Name</textarea>
            </div>
            <div class="col-md-4">
                <label for="Status">Статус</label>
                <select class="form-control" id="Status" name="Status" @(!isInitiator ? "disabled" : "")>
                    <option value="1">Новая</option>
                    <option value="2">В работе</option>
                    <option value="3">Заявлен на обучение</option>
                    <option value="4">Курс пройден</option>
                    <option value="5">Курс не пройден</option>
                </select>
            </div>
            <script>
                var selectedValue = @Model.Status;
                document.getElementById("Status").value = selectedValue;
            </script>
        </div>

        <div class="row mb-4">
            <div class="col-md-4">
                <label for="Department">Отдел</label>
                <input type="text" class="form-control" id="Department" name="Department" placeholder="Введите значение" value="@Model.Department" required @(!isInitiator ? "disabled" : "") />
            </div>
            <div class="col-md-4">
                <label for="CourseType">Тип курса</label>
                <select class="form-control" id="Course_Type" name="Course_Type" @(!isInitiator ? "disabled" : "")>
                    <option value="1">Базовый</option>
                    <option value="2">Продвинутый</option>
                    <option value="3">Для администраторов</option>
                </select>
            </div>
            <script>
                var selectedValue = @Model.Course_Type;
                document.getElementById("Course_Type").value = selectedValue;
            </script>
            <div class="col-md-4">
                <label for="Course_Start">Период проведения курса</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="Course_Start" name="Course_Start" placeholder="от" value="@Model.Course_Start.ToString("dd.MM.yyyy")" required @(!isInitiator ? "disabled" : "") />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="Course_End" name="Course_End" placeholder="до" value="@Model.Course_End.ToString("dd.MM.yyyy")" required @(!isInitiator ? "disabled" : "") />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">

            <div class="col-md-4">
                <label for="Position">Должность</label>
                <input type="text" class="form-control" id="Position" name="Position" placeholder="Введите значение" value="@Model.Position" required @(!isInitiator ? "disabled" : "") />
            </div>
            <div class="col-md-4">
                <label for="Notation">Примечание</label>
                <textarea class="form-control" id="Notation" name="Notation" rows="1" placeholder="Введите текст" @(!isInitiator ? "disabled" : "")>@Model.Notation</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                @if (ViewBag.UserRoles.HasFlag(UserRole.Initiator))
                {
                    <button type="submit" class="btn btn-primary btn-custom-outline-orange text-white">Сохранить изменения</button>
                }
            </div>
        </div>
    </div>
</form>