@{
    ViewData["Title"] = "Перечень заявок";
}

@using System.Security.Principal
@{
    WindowsIdentity currentIdentity = WindowsIdentity.GetCurrent();
    string userName = currentIdentity?.Name ?? "Неизвестно";
}

@model List<RequestOut>

@{
    int currentYear = DateTime.Now.Year;
    int endYear = currentYear - 4;
    int startYear = currentYear;
}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <div>
                <b>Новая заявка</b>
            </div>
            <div>
                <span class="user">Пользователь: @userName</span>
            </div>
        </div>
        <div class="col-auto text-center">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Составить новую заявку</a>
        </div>
    </div>

    <hr />
    <div class="row mt-3">
        <div class="col-md-4">

            <a>ФИЛЬТРЫ</a>
        </div>
        <div class="col-md-4">
            <select class="form-control" id="yearSelect" name="Year">
                @for (int year = startYear; year >= endYear; year--)
                {
                    <option value="@year">@year год</option>
                }
                <option value="0">Весь период</option>
            </select>
        </div>
    </div>

    <div class="row mb-4 mt-2">
        <div class="col text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Номер заявки</th>
                        <th>Статус</th>
                        <th>Отдел</th>
                        <th>Дата обучения</th>
                        <th>ФИО обучаемого</th>
                        <th>Примечание</th>
                    </tr>
                </thead>
                <tbody id="requestTableBody">
                    @foreach (var request in Model)
                    {
                        <tr>
                            <td>@request.Id</td>
                            <td>@request.Status</td>
                            <td>@request.Department</td>
                            <td>@request.CourseStart.ToString("dd.MM.yyyy") - @request.CourseEnd.ToString("dd.MM.yyyy")</td>
                            <td>@request.FullName</td>
                            <td style="max-width: 180px; word-break: break-word;">@request.Notation</td>
                            <td>Содержание</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
