@{
    ViewData["Title"] = "Перечень заявок";
}

@using System.Security.Principal
@{
    WindowsIdentity currentIdentity = WindowsIdentity.GetCurrent();
    string userName = currentIdentity?.Name ?? "Неизвестно";
}

@model List<RequestOut>

@{
    int currentYear = DateTime.Now.Year;
    int endYear = currentYear - 4;
    int startYear = currentYear;
}

<!-- DatePicker -->
<script type="text/javascript" src='~/lib/jquery/dist/jquery.min.js'></script>
<script type="text/javascript" src='~/lib/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
<link rel="stylesheet" href='~/lib/twitter-bootstrap/3.0.3/css/bootstrap.min.css' media="screen" />
<link rel="stylesheet" href="~/lib/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
@section scripts{
    <script src="~/lib/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ru.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#CourseBegin, #CourseEnd').datepicker({
                changeMonth: true,
                changeYear: true,
                todayHighlight: true,
                format: "dd.mm.yyyy",
                language: "ru"
            });
        });
    </script>
    
}
<!--------------->

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <div>
                <b>Новая заявка</b>
            </div>
            <div>
                <span class="user">Пользователь: @userName</span>
                <div id="userName" data-username="@userName"></div>
            </div>
        </div>
        <div class="col-auto text-center">
            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">Составить новую заявку</a>
        </div>
    </div>

    <hr />

    @*начало фильтров*@
    <div class="row mt-3">
        <div class="col-md-4">
            <label for="Year">Год</label>
            <select class="form-control" id="yearSelect" name="Year">
                @for (int year = startYear; year >= endYear; year--)
                {
                    <option value="@year">@year</option>
                }
                <option value="0">Весь период</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="Stat">Статус заявки</label>
            <select class="form-control" id="Stat" name="Stat">
                <option value=""></option>
                <option value="1">Заявлен на обучение</option>
                <option value="2">Курс пройден</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="Dep">Отдел</label>
            <input type="text" class="form-control" id="Dep" name="Dep">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <label for="CourseBegin">Период проведения курса</label>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="CourseBegin" name="CourseBegin" placeholder="от" />
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="CourseEnd" name="CourseEnd" placeholder="до">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="FullName">ФИО обучаемого</label>
            <input type="text" class="form-control" id="FullName" name="FullName">
        </div>
        <div class="col-md-4">
            <label for="RequestNumber">Номер заявки</label>
            <input type="text" class="form-control" id="RequestNumber" name="RequestNumber">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col text-center">
            <button type="button" id="applyFiltersBtn" class="btn btn-success">Применить фильтры</button>
        </div>
    </div>
    @*конец фильтров*@

    <hr class="custom-hr"/>

    <div class="row mb-4 mt-2">
        <div class="col text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Номер заявки</th>
                        <th class="text-center">Статус</th>
                        <th class="text-center">Отдел</th>
                        <th class="text-center">Дата обучения</th>
                        <th class="text-center">ФИО обучаемого</th>
                        <th class="text-center">Примечание</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody id="requestTableBody">
                    @foreach (var request in Model)
                    {
                        <tr>
                            <td class="text-center">@request.Id</td>
                            <td class="text-center">@request.Status</td>
                            <td class="text-center">@request.Department</td>
                            <td class="text-center">@request.CourseStart.ToString("dd.MM.yyyy") - @request.CourseEnd.ToString("dd.MM.yyyy")</td>
                            <td class="text-center">@request.FullName</td>
                            <td class="text-center" style="max-width: 180px; word-break: break-word;">@request.Notation</td>
                            <td class="text-center"><a href="/Detail/Details/@request.Id">Содержание</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
